target/*
archive/qoqo_qiskit_devices/target/*
archive/roqoqo_qiskit_devices/target/*
*__pycache__*
*/docs/_build*
*/docs/generated*
archive/*/docs/_build*
archive/*/docs/generated*
*/dist/*
.mypy_cache*
*.egg-info*
*.qasm
*.profraw
*.DS_Store*
coverage.lcov
coveragehtml/*
*.pytest_cache*
*.vscode*
*/build/*
