target/*
qoqo_qiskit_devices/target/*
roqoqo_qiskit_devices/target/*
*__pycache__*
*/docs/_build*
*/docs/generated*
*/dist/*
.mypy_cache*
*.egg-info*
*.qasm
*.profraw
*.DS_Store*
coverage.lcov
coveragehtml/*
*.pytest_cache*
*.vscode*
*/build*
